#booklist {
    overflow-x: auto;
}

#booklist table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
   
}

#booklist table th, td {
    text-align: left;
    padding: 8px;
}

#booklist table tr:nth-child(even){
    background-color: #f2f2f2
}

#searchbox {
    background-image: url('../img/ikony/search.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    font-size: 14px;
    padding: 10px 40px 10px 40px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    width: 30%;
}


.detail_input {
    border-radius: 0;
    background-color: #0095d8;
    color: #ffffff;
    padding: 2px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.availabilityIcon {
    text-align: center;
    background-position: left center;
    background-repeat: no-repeat;
}

.available_icon {
    background-image: url(../img/ikony/tick.png);
}

.unavailable_icon {
    background-image: url(../img/ikony/cross.png);
}

.reserved_icon {
    background-image: url(../img/ikony/full_star.png);
}


@media screen and (max-width: 1280px) {

    .availabilityIcon {
        background-size: 25px;
    }

    #searchbox {
        width: 80%;
    }
}