<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <action type="None" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                </rule>
                <rule name="Rewrite2" patternSyntax="Wildcard">
                    <match url="*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
