body, html{
  position: relative;
  width: 100%;
}

.right{
  float: right;
}
.left{
  float: left;
}
.center{
  text-align: center;
  margin: 0 auto;
}

.small{
  font-size: 12px;
}
.half{
  width: 50%;

}

input{
  display: block;

}
