.myBook {
    box-sizing: border-box;
    border: 10px solid #4facff;
    border-top: none;
    border-radius: 2px;
    transition: transform .2s;
    min-width: 340px;
    min-height: 220px;
    margin: 10px 20px;
    display: inline-block;
    line-height: 30px;
    font-size: 12pt;
    vertical-align: middle;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25), inset 0 2px 5px rgba(225,225,225,0.35);
    float: left;
}


.myBook img {
    max-width: 150px;
    margin: 20px 0px;
}

.myBook_main {
    padding: 10px;
}

.borrowed_status {
    background-color: #4facff;
    padding: 5px;
}


ul.borrowed_list {
    list-style-type:none;
    padding: 10px;
    text-align: left;
    margin: 20px;
}


.myBooks_button {
    height: 30px;
    margin: 10px 0;
    margin-right: 10px;
    background-color: #0095d8;
    color: #ffffff;
    border: none;
    font-size: 12pt;
    cursor: pointer;
    display: inline-block;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25), inset 0 2px 5px rgba(225,225,225,0.35);
}


#toList {
    color: blue;
    text-decoration: underline;
}


.borrowedIcon {
    text-align: center;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: 5px;
    padding: 20px;
}

.borrowed_icon {
    background-image: url(../img/ikony/yellow_circle.png);
}

.accepted_icon {
    background-image: url(../img/ikony/green_circle.png);
}

.requested_icon {
    background-image: url(../img/ikony/red_circle.png);
}

.borrowedIcon {
    margin-left: 45%;
}



@media all and (max-width:1280px) {


}


@media all and (max-width:800px) {
    .myBook {
        min-width: 0;
        min-height: 0;
        width: 260px;
        max-height: 220px;
        margin: 10px;
        font-size: 11pt;
        line-height: 24px;
        box-shadow: none;
        float: none;
    }

    .myBook img {
        margin: 0;
    }

    .borrowedIcon {
        margin-left: 30%;
    }
    
}