.user {
    background-color: #f1f1f1;
}

.user:nth-child(odd) {
    background-color: #d2d2d2;
}

.user a {
    padding: 5px;
}

#userWrapper {
  position: relative;
    margin: 20px;
    width: 50%;
}
#userWrapper div{
  position: relative;
}

#userWrapper .user {
    margin: 0;
    padding: 2px;
    border: 5px;
}

#userWrapper td:first-child {
    width: 250px;
}

#userWrapper td {
    margin: 0;
    padding: 5px;
}

table {
    width: 100%;
}

#load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 128px;
    display: none;
}

#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 250px;
    height: 250px;
    background-color: white;
    z-index: 999;
    display: none;

    text-align: center;
}
#notification >div{
  margin: 10px;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    color: black;

    border-bottom: 2px solid dodgerblue;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline black;
}

a.close{
  position: absolute;
  top: 0;
  right: 0;
}

a.close::after{
    content: "×";
}

#addUser::after{
  position: absolute;
  content: "+";
  font-size: 50px;
  right: 0;
  top: 0;
  height: 100%;
}
