h3{
    color: var(--secondary) !important;
}

.icon + span {
    color: var(--dark) !important;
    padding-left: .25rem;
}

.table tbody tr:first-child td{
    border-top: 0;
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5 !important;
        -moz-column-count: 5 !important;
        column-count: 5 !important;
    }
}

@media (prefers-color-scheme: dark){
    .card{
        background-color: var(--secondary);
    }

    body, header, .bg-light, .table, .navbar-light .navbar-brand, .page-item *{
        background-color: var(--dark) !important;
        color: var(--light) !important;
        border-color: var(--gray) !important;
    }

    .active, .active *, .page-item *:hover{
        border-color: var(--light) !important;
    }

    .table td, .table th {
        border-color: var(--secondary) !important;
    }

    .icon + span {
        color: var(--light) !important;
    }
}